<section class="slide theme-light" id="s{{num}}">
  {{{furniture}}}
  <div class="split-left">
    <h1 class="t-page-title accent">{{title}}</h1>
    {{#if lead}}<div class="t-body-middle">{{lead}}</div>{{/if}}
    <div class="spacer"></div>
    {{#if conclusion}}<div class="conclusion">{{conclusion}}</div>{{/if}}
  </div>
  <div class="split-right">
    {{#each cards}}
    <div class="card numbered pad-m">
      <div class="num-chip">{{cardNum}}</div>
      <div class="card-title">{{title}}</div>
      {{#if text}}<div class="t-body-small">{{text}}</div>{{/if}}
      {{#if items}}<ul class="dots small">{{#each items}}<li class="t-body-small">{{.}}</li>{{/each}}</ul>{{/if}}
    </div>
    {{/each}}
    {{#if more}}<div class="more-pill">{{more}}</div>{{/if}}
  </div>
</section>
