<section class="slide theme-dark" id="s{{num}}">
  {{{furniture}}}
  <div class="h1-row">
    <h1 class="t-page-title">{{title}}</h1>
    {{#if lead}}<div class="lead t-body-middle muted">{{lead}}</div>{{/if}}
  </div>
  <div class="cols cols-3" style="position:absolute;left:120px;right:120px;top:405px;bottom:120px;height:auto;">
    {{#each cards}}
    <div class="card pad-m acc-{{cardNum}}">
      <div class="num-badge">{{cardNum}}</div>
      <div style="flex:1;"></div>
      {{#if isTitle}}<div class="card-title">{{title}}</div>{{/if}}
      {{#if text}}<div class="t-body-small">{{text}}</div>{{/if}}
    </div>
    {{/each}}
  </div>
</section>
